Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/UFOGameDemo/Blueprints/BP_UFOGame_InGame_GameMode.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_InGame_GameState.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_InGame_HUD.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_InGame_PlayerController.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_Interface.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_MainMenu_GameMode.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_MainMenu_HUD.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_PlayerController_Base.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_PlayerState.uasset
Content/UFOGameDemo/Blueprints/BP_UFOGame_SaveGame.uasset
Content/UFOGameDemo/Blueprints/UMG/UMG_UFOGame_HUD_Widget.uasset
Content/UFOGameDemo/Cinematics/MainMenu_LevelSequence.uasset
Content/UFOGameDemo/Maps/UFOGame_Level1_MAP.umap
Content/UFOGameDemo/Maps/UFOGame_MainMenu_MAP.umap
Content/UFOGameDemo/Pawns/BP_GameJam_UFO_6DOF_Pawn.uasset
Content/UFOGameDemo/Targets/BP_GameJamKit_GenericTarget.uasset
Content/UFOGameDemo/Weapons/BP_GameJamKit_Blaster_Actor.uasset
Content/UFOGameDemo/Weapons/BP_GameJamKit_Bullet_Actor.uasset
Content/UFOGameDemo/Weapons/BP_GameJamKit_Weapon_Interface.uasset
